body {
  background-image: url("Images/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  position: fixed;
  background-color: lightslategray;
  display: flex;
  flex-direction: row;
  padding: 6px;
  top: 0;
  justify-content: flex-end;
  margin: 10px;
  margin-top: 0;
  width: calc(90vw - 10px);
  z-index: 1;
}

.navigation .nav-items {
  display: flex;
  justify-content: center;
}

.navigation .nav-items .nav-item {
  background-color: cornsilk;
  margin: 10px;
  height: 25px;
  border-radius: 5px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.navigation .nav-items .nav-item a {
  color: #222;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  align-self: center;
}

.header {
  top: 10rem;
  background-image: url("Images/header.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 95vw;
  /* margin-left: 1.5rem; */
  margin-right: 5rem;
  padding: 40px 40px;
}

.header h2,
.header,
.relax-center {
  color: #fff;
  font-family: "New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.header h2 {
  margin-bottom: 40px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container .relax-center {
  position: relative;
  background-color: rgb(82, 89, 112);
  height: fit-content;
  width: min-content;
  padding: 0.5rem;
  margin: 15px;
}

.relax-center img {
  position: relative;
  height: 80%;
  width: inherit;
}

.location {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.location .location-img {
  background-color: ivory;
  background-image: url("/Images/Location.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}

.location .underline {
  background-color: rgba(39, 19, 19, 0.8);
  margin-top: 3px;
  height: 4px;
  width: 40px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20px;
  margin: 10pc;
  height: fit-content;
  width: 40rem;
  background-image: linear-gradient(
    45deg,
    rgb(43, 14, 14) 40%,
    rgba(75, 0, 0, 0.842) 60%
  );
}

label,
button {
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  background-color: black;
  height: fit-content;
  width: fit-content;
}

.contact-us input {
  padding: 5px;
  margin: 10px;
  width: 400px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

footer {
  background-color: rgba(133, 133, 128, 0.897);
  height: 8rem;
  width: 100vw;
}
